/* *,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
} */


fieldset{margin:1% auto;}
table{ margin-top: 20px;}	
.box-mensagem-crud{ margin-top: 10px;}
.msg-erro{ color: red; }


/* File input */
.file {
  margin-top: 10px;
}

.file input {
  min-width: 10rem;
}
.file input:hover {
  cursor: pointer;

}
.font-txt{
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
}
.autent-sucesso{
  color: green;
  font-size: 40px;
  margin-top: 200px;
}